body{
    background-color: var(--dark-10);
    font-family: "Inter",sans-serif;
}
h1,h2{
    font-family: "Space Grotesk";
}
.container{
    margin: 0 auto;
    padding: 0 24px;
    max-width: 1250px;
    width: 100%;
}
@media(min-width:48rem){
    .container{
        padding: 0 32px;
    }
}
section{
    display: flex;
    flex-direction: column;
    gap: 40px;
    /* padding: 40px 0 40px 0; */
}
section div.card{
    border: 2px solid var(--dark-40);
    border-radius: 8px;
    padding: 32px 24px;
    width: 327px;
    height: 330px;
}
div.like{
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}
div.like span{
    color: var(--brand-color);
    font-size: 12px;
}
div.content-card h2{
    color: var(--white);
    font-size: 20px;
    padding-bottom: 16px;
}
div.content-card p{
    color: var(--grey);
    /* font-size: 14px; */
}