body{
    background-color: var(--dark-10);
    font-family: "Inter",sans-serif;
}
h1,h2{
    font-family: "Space Grotesk";
}
.container{
    margin: 0 auto;
    padding: 0 24px;
    max-width: 1250px;
    width: 100%;
}
@media(min-width:48rem){
    .container{
        padding: 0 32px;
    }
}
section{
    padding-top: 40px;
}
section div.card{
    border: 2px solid var(--dark-40);
}
div.like span{
    color
}